* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  /* padding-inline: 300px; */
  width: 100vw;
  display: flex;
}
.App .left-side {
  width: 20%;
}
.App .right-side {
  width: 20%;
}
.App .center-main {
  width: 80%;
}
